<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div class="login">
    <a class="link" th:href="@{/?name=} + ${name}">Information</a>
    <a class="link" th:href="@{/nutritionstore?name=} + ${name}">Nutrition Store</a>
    <a class="link" th:href="@{/trickcenter?name=} + ${name}">Trick Center</a>
    <h1 th:text="${name}"></h1>
    <img src="/greenfox.png">
    <div>
        <p th:text="${statusbar}"></p>
    </div>
    <div>
        <p class="status">Known tricks</p>
    </div>
    <div class="tricks">
        <ul th:each="trick : ${knowedtricks}">
            <li th:text="${trick}"></li>
        </ul>
    </div>
</div>
</body>
</html>