<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<a href="">Information</a>
<a th:href="@{/nutritionstore?name=} + ${name}">Nutrition Store</a>
<a th:href="@{/trickcenter?name=} + ${name}">Trick Center</a>
<div>
    <img src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=AP5Io4HqfuRMI92rhBTNl5mvSIloSTWzks5brI10wA%3D%3D">
</div>
<div>
    <p th:text="${statusbar}"></p>
</div>
<div>
    <p>Known tricks</p>
</div>
<div>
    <ul th:each="trick : ${knowedtricks}">
        <li th:text="${trick}"></li>
    </ul>
</div>
</body>
</html>