<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div class="login">
    <h1>Welcome to Programmer Fox Club!</h1>
    <h2>Please provide a name, so you can associate it your pet!</h2>
    <form method="POST" action="/">
        <div class="form">
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Type your Fox's name" required>
            <button type="submit">GO</button>
        </div>
    </form>
</div>
</body>
</html>