<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick Center</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div class="login">
    <a class="link" th:href="@{/?name=} + ${fox.getName()}">Information</a>
    <a class="link" th:href="@{/nutritionstore?name=} + ${fox.getName()}">Nutrition Store</a>
    <a class="link" th:href="@{/trickcenter?name=} + ${fox.getName()}">Trick Center</a>
    <div>
        <h1 th:text="${fox.getName()}"></h1>
        <img src="/greenfox.png">
        <h2>Select your new Trick</h2>
    </div>
    <div>
        <form method="POST" th:action="@{/setTrick?name=} + ${fox.getName()}">
            <label for="trick"></label>
            <select name="trickforset">
                <option th:each="trick : ${tricklist}" th:value="${trick}">
                    <span th:text="${trick}"></span>
                </option>
            </select>
            <button type="submit">Learn</button>
        </form>
    </div>
</div>
</body>
</html>