<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            Accounts of Simba's Bank
        </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="element : ${balist}">
        <tr>
            <td th:text="${element.toString()}"></td>
        </tr>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>